[2012-12-01 15:29] alibabashack opened #1 "update README, AUTHORS, ..."
The from CVS inherited README.*, AUTHORS, BeOS, ltconfig, ChangeLog files look outdated to me. Update them to describe/support the new infrastructure. Maybe some of them can be removed.

[2012-12-13 20:26] alibabashack commented on #1
For the purpose of this task the new branch "feature/readme" was created.

[2012-12-28 00:10] alibabashack opened #2 "Disable cross toolchain wrapper when unused"
Currently the maven project containing the cross toolchain wrapper scripts is loaded on every build -- also on NON cross builds.

The wrapper scripts should only be installed when a cross platform build is taking place to speed up the build (especially useful for the raspberry pi).

[2013-05-14 17:33] alibabashack opened #6 "8/N/1.5 config is silently discarded"
_Problem:_ When a port is configured to use n data bits (5>n>=8) and 1.5 stop bits, the configuration is silently changed to 5 databits and 1.5 stop bits.

_expected behaviour_: the call to SerialPort.setSerialPortParams() should fail with UnsupportedCommOperationException and the configuration of the port should hold the last state

[2013-08-07 12:48] LeRiton opened #7 "Update wiki and README"
This is more an information request than an issue, but I can't tell if this Github project is the 'official' RxTx one. Is it?

[RxTx wiki](http://rxtx.qbang.org) says that project use CSV, not Git, and have no link to this repository.

Current README seems to be 'official', but existing forks also share this one.

Project's last version on Maven Central is 2.1.7 (from April 2007).

Any details on

[2013-08-07 19:52] alibabashack commented on #7
Hi LeRiton,
that's a very good question, but can't be answered in a single sentence.

Because the development effort of rxtx seemed to be frozen to zero and the number of bug reports increased steadily, I started an initiative on the official mailing list, a year ago. My intention was to review the badly shaped code and architecture to detect major design problems, instead of adding more hacked pa

[2013-08-08 08:26] LeRiton commented on #7
Hi Alexander,

Thanks for this very detailed answer, this is very helpful and I can see some good news in it.

I'm glad to read that this current fork (since it's not -yet- mainline) focus on cleaning instead of building new stuff on current codebase.
IMHO you took the right way: makes RxTx a simple, portable, self-loading and maintainable API that could regain confidence of end users.

I'll defin

[2013-08-09 10:37] alibabashack commented on #7
Thanks for your mental support.

There is no dedicated mailing list for this fork. Since I am confident, we will have some results within the next two months, I don't want one. I hope the discussion will start and stay on the official list.

Regards
Alex

[2013-08-09 10:39] #7 closed, assigned to nobody

[2013-08-10 11:30] fommil opened #8 "windows 64 build using OS=linux ?"
I discovered your project when looking for examples of JNI building on windows.

However, I notice that https://github.com/rxtx/rxtx/blob/development/rxtxSerial-windows-x86_64/pom.xml is using OS=Linux. Is this correct?

BTW, you might be interested in my JNI loader, which I intend to package in a zero-dependency standalone project shortly https://github.com/fommil/netlib-java/blob/master/native_r

[2013-08-11 08:43] alibabashack commented on #8
Hi Sam,
you are right, the windows binaries are currently build by the mingw64 cross toolchain on ubuntu linux (as all are except the OSX bins). However the project structure allows to build on multiple hosts. It is just not implemented for the windows targets yet. Take a look at [1], which allows to build the linux-x86_64 on linux-x86 and linux-x86_64.

The overall idea is to always support a _mv

[2013-08-11 08:43] #8 closed, assigned to nobody

[2013-08-14 20:46] fommil commented on #8
@alibabashack if you're cross-compiling, I'd love to copy you!!!! Be very careful when cross-compiling with regards to the version of Java that you're using. 32/64 bit JVMs have different sized primitive objects, and it also changes depending on the OS. For example, `jint` is 32 bit on Windows (32/64 bit), 32 bit on 32 bit UNIX and 64 bit on 64 bit UNIX.

I've now broken the JNI Loader into a sepa

[2013-08-14 21:08] fommil commented on #8
@alibabashack I used to do something very similar to your class... trying to detect the OS and architecture. However, I moved away from that model because:
1. new architectures became popular which meant I had to release updates to deal with it (a nightmare for a dependency project)
2. sometimes a DEV might want different binaries for architectures that I was collapsing to one name (e.g. AMD vs In

[2013-08-17 08:35] alibabashack opened #9 "LibraryLoader: add armel/armhf support"
Support for the ARM soft float (armel) and ARM hard float (armhf) abi targets [was added](https://github.com/rxtx/rxtx/commit/16f3748369968f65dab274a2dfad0484fdc22aa0) to the build process. However the library loader was not updated yet, because the decission between armel/armhf abi at runtime is not trivial.

There is a discussion about the solution [on the raspberry pi forum](http://www.raspberr

[2013-08-19 08:04] alibabashack commented on #8
Thank you for your comments. Currently our main focus is on the build process and not that much on the JNI loader. I will gladly come back to your ideas when we discuss the loader.

[2013-08-19 09:54] fommil commented on #8
@alibabashack I'm also trying to get a cross-compile setup working. Unfortunately it looks like cross-compilers for Fortran fail to build with macports, and the MinGW Windows 32 compiler is out of date and 64 missing entirely.

[2013-08-22 21:00] fommil commented on #8
@alibabashack thought you might appreciate this :-D (my cross compiles from OS X are failing epically because macports doesn't seem to support fortran in the cross-compilers. I'm using Ubuntu via Virtual Box to do all my non-OS X platforms)

https://github.com/fommil/netlib-java/blob/master/native_ref/win-x86_64/pom.xml

[2013-08-22 21:08] fommil commented on #8
(I've not got the linking to work yet)

[2013-08-24 22:58] fommil commented on #8
I've gotten cross-compiles working for Linux (i686/x86_64) and win32/64 working... have a look at my poms.

I also have a build for Raspberry Pi Hardware Float, but I'm not able to check it.

In my case I need to cross compile from two machines: OS X and Linux, because I couldn't find any Fortran cross compilers for Linux (from OS X).

Win32 had a non-obvious problem: it needs this flag to the lin

[2013-08-24 23:09] fommil commented on #8
I've also documented how to obtain all the JDKs for the various builds. However, it turns out that Win32/64 include directory is recursively identical and the Linux 32/64 include changes are trivial... so you can probably survive with just one set of includes (for windows) plus your system Linux ones. I haven't checked the difference between OS X and Linux includes.

[2013-08-27 21:34] fommil commented on #8
@alibabashack wow, I've finally gotten all my cross compiles to work. My conclusions:
- crosstool-ng is the only real way to build cross-compilers. ubuntu/debian/macports all suck with their pre-rolled compilers. They tend to skip the system libraries, which causes all kinds of runtime problems
- Debian is the best platform to do Linux compiles as it has the most compatible EGLIBC. Ubuntu bins ten

[2014-03-04 07:39] LeRiton commented on #7
Hi guys,

Any updates? Any decision about mainline/fork?

Thanks

[2014-03-04 09:58] LeRiton opened #11 "Writing to output stream copy content on input stream"
Hi guys,

Using RxTx 2.1.7 on a simple test case (see below), writing on the output stream works, but also triggers DATA_AVAILABLE on input stream (i.e. output data is also copied on input buffer). Is this the normal behavior, an RxTx bug or an hardware issue?

Test run with Windows X86_64 native driver.

My test code is (RxTx is loaded elsewhere)

[code]

Output is

[code]

Thanks in advance!

[2014-04-23 06:19] LeRiton commented on #7
Hi @alibabashack, could you provide feedback about the status of this project?
Thanks in advance

[2014-04-23 15:39] alibabashack commented on #7
Hi @LeRiton, sorry I missed your post. Sadly, there has not been much progress. I have created some documentation of the build process, but never put it on github. I think I finally do that now.

I just tried do add a new port type for CAN bus for a university project, but I discovered one more time how cluttered the code is. The generic API is not clearly separated from the serial port implementa

[2014-04-24 08:02] tuxedo0801 commented on #7
FullACK to @alibabashack  ...

Still missing answers for my requests to the originator of RXTX :-(

regarding the naming... The name RXTX is well known. So I would keep it, but would add a kind of prefix or suffix to show people "there's something new".

Some brainstorming:
- NewRXTX
- RXTX 2013 (the year the work started)
- Same name, but higher version number to show that there was some work: RX

[2014-04-24 12:59] LeRiton commented on #7
Thanks for the update!

@alibabashack about my expectations, we use RxTx for now and target compatibility with Windows (x86 and x64) and ARM architectures (plans).
I'm asking about current project status to determine if RxTx is still a good option for serial communication. We're looking for jSSC as a replacement, but change have a cost and is only required if RxTx is no longer maintained.

Unrelat

[2014-04-24 20:17] alibabashack commented on #11
No, rxtx does not echo back the data written to the OutputStream. Or at least it should not and never did that for me. I guess your device has some echo functionality. When you run your code on a "real" serial port with open pins, there shouldn't be anything coming back.
May I ask what kind of remote device you are using?

Sorry for the delay, I missed this issue.

[2014-04-25 06:17] LeRiton commented on #11
OK, I'll investigate on the hardware. Device is a kind of a modem, I can ask the manufacturer about some echo.

Thanks for the feedback!

[2014-04-25 06:17] #11 closed, assigned to nobody

[2014-04-25 07:40] alibabashack commented on #11
If it is a modem with AT Hayes command interface, there is usually an echo enabled by default. You can switch it off with the E0 command. See http://en.wikipedia.org/wiki/Hayes_command_set

[2014-04-25 11:47] LeRiton commented on #11
You're absolutely right, many thanks for that!

[2015-11-08 04:00] daveismith commented on #9
Looks like the sun.arch.abi property is available in modern JVMs.

http://mail.openjdk.java.net/pipermail/porters-dev/2013-January/000437.html

on my Beaglebone Green, I see the following

sun.arch.abi=gnueabihf

[2016-05-17 14:10] KaidenP opened #13 "rxtx dead?"
Is RxTx Dead?

[2016-11-08 12:09] ML1 opened #14 "error C2011: 'timespec': 'struct' type redefinition, in Visual Studio 2015"
Hello,

I got  error C2011: 'timespec': 'struct' type redefinition, in Visual Studio 2015 error when compiling on Visual Studio 2015.  I already defined HAVE_STRUCT_TIMESPEC preprocessor to prevent error but it doesn't solved it. What will be the problem?

Regards

[2017-05-18 00:40] stroucki commented on #13
Do you know of an alternative?

[2017-05-18 04:26] hurynovich commented on #13
Try https://github.com/scream3r/java-simple-serial-connector

[2017-05-18 04:43] stroucki commented on #13
Interesting, thanks. What is the origin of your library, and are you still maintaining it? How does one migrate from rxtx?

[2017-05-18 04:59] hurynovich commented on #13
I am not founder of this lib but just user.
This project was not updated since 2014, but seems like it is still best lib to communicate via COM for Java.
I am not really familiar with RxTx just tried it and rejected it in favor JSSC so cannot help with migration.

[2018-06-30 20:24] cjdg opened #16 "OpenJDK 11 issues"
java.lang.NullPointerException thrown while loading gnu.io.RXTXCommDriver

[2018-10-21 06:29] GallusMax commented on #13
After rxtx.org seems gone, some history and archives can still be found
here: http://rxtx.qbang.org/
and here: http://fizzed.com/oss/rxtx-for-java

[2018-10-30 03:55] akayaman commented on #16
that might be patched by https://salsa.debian.org/java-team/rxtx/commit/b8f23b66208a41aef299b0f825b26d11774e0b47 . I hope that patch will be merged into the rxtx repository.

[2018-11-05 20:05] pcarmona79 commented on #16
You can define the system property "java.ext.dirs" with an empty string when running you application, like this

`java -Djava.ext.dirs ...`

I've added to my build.gradle file:

[code]

[2018-11-16 14:35] bruce-stewart commented on #13
I've been very happy with http://fazecast.github.io/jSerialComm recently. One of the very useful features is that all of the different native libraries are bundled in the jar artifact and are loaded automatically. Basically, you only need to add the jar file as a dependency in your project.

[2019-03-04 12:21] nicola-lunghi commented on #13
@hurynovich
Hi thanks
the problem with this repo then is that you "stole" the name of the official library
so now everyone is coming here to submit patches/bugfixes

Also the code into the repo is not from the original package.

Can you please create a master branch with the original code so people can start contributing on it to fix bugs /issues?

the rxtx is still a widely used library everywher

[2019-03-04 12:47] alibabashack commented on #13
Hi @nicola-lunghi,
he did not steal anything. Also, I did not steal anything, not even in a figurative sense. The only thing this repository changed in regard to the original provided by Trent Jarvi is support for the maven build system. The original lib lacked a reproducible cross platform build and a loader for the native libs, which I added here. You're welcome. The rxtx github organization was

[2019-12-09 15:34] a3f opened #18 "HUPCL is unconditionally cleared in configure_port"
The Linux default is that new ports have the HUPCL flag (hang up) set, so RTS is released when the last user of the port closes the device file. rxtx always reconfigures new ports with

[code]

which overrides the HUPCL flag. Here is an example how this breaks HW that expects RTS to be inactive when the serial port is unused:
https://forum.arduino.cc/index.php?topic=46144.0

I've a similar setup w

[2019-12-10 08:52] christianlupus commented on #18
I would assume the current setting might be used by a few projects. Changing this behaviour might break these projects.

How about the possibility to enable this HUPCL as you desire depending on an optional parameter in the open function? Then existing code continnues to work but you can use your HUPCL flag as desired.

[2019-12-24 01:02] wns25678 opened #19 "Which gender changer is redundant?"
http://rxtx.github.io/rxtx/

male/female, male/male, female/female, male

I think all of gender changer is redundant.

please someone tell me the answer.
I can't fall asleep

[2019-12-31 16:07] christianlupus commented on #19
In general, you are right. These devices "do nothing".

[2020-01-03 01:33] #19 closed, assigned to nobody

[2020-02-21 10:26] a3f commented on #18
Sounds good. I'll forward the feedback and close the issue for now. If we implement it on top of this fork, I'll open a pull request.

Cheers,

[2020-02-21 10:26] #18 closed, assigned to nobody

[2020-05-13 14:12] heywiki opened #20 "OpenJDK 11 JVM Crash"
I am getting this JVM crash on OpenJDK 11 when using rxtx on Windows 10

[code]

[BraysTerminal](https://sites.google.com/site/terminalbpp/) seems to have no problems reading the values

Here's the code i am using (Snippet)

[code]

Using https://github.com/Fazecast/jSerialComm it works fine.

[2020-09-08 19:05] mizapf commented on #13
Hi Alex (we had some E-mail exchange on January 1, 2018),

I cannot build RXTX with the current JDKs anymore because the maven-native plugin relies on the javah command, which has been removed from the JDK (>8). Is there anything that can be done about that in the Maven files of RXTX, or do we depend on the authors of the maven-native plugin?

Greetings,
Michael

[2020-09-08 19:35] stroucki commented on #13
Is "javac -h" equivalent to "javah"?

[2020-09-08 19:59] alibabashack commented on #13
@mizapf
Hi Michael,
to be honest I forgot the details of this project over the years and have not looked at the java world for a long time. Please take a look at the github pages documentation at http://rxtx.github.io/rxtx/developers/build/intro/overview.html for the general build flow. It seems to me the process of header file generation by javah is controlled from within the maven-native plugin.

[2020-09-08 22:14] mizapf commented on #13
@stroucki
As far as I heard, javac -h took the role of javah. However, javah is invoked by the maven-native plugin, and it defines specific javah tags; I don't know how to fix that. Eventually, this may be an issue for mojohaus who wrote the maven plugin, but before I'm involving another party, maybe someone here has an idea how to substitute javah.

@alibabashack
Hi Alexander, no need to apologiz

[2020-09-08 23:25] stroucki commented on #13
I just spent a couple minutes hacking on it and I couldn't get the correct maven incantation; I'd assume this is an issue that should be handled by the native-maven-plugin.

Perhaps you can create a wrapper shell script to javac -h, call it javah, and make it available in the PATH.

[2020-09-09 14:13] mizapf commented on #13
If javah is not needed but javac -h, could we use another maven plugin (the one for javac) to do the job of maven-native?

I already thought about writing a wrapper script, but some seconds later that idea did not look that good any more. I mean, I can do it, but who else? We surely don't want to write such a recipe into the INSTALL file. Right now, people will only be able to build RXTX if they f

[2020-12-29 11:07] sudhirbitsgoa commented on #20
Same issue from my end as well.

[2020-12-30 21:51] RaspCla commented on #20
me too

[2021-03-09 17:42] clackmannan commented on #20
This is fixed in NrJavaSerial, any idea what has to happen to get the fix implemented in rxtx?
https://github.com/NeuronRobotics/nrjavaserial/issues/131

[2021-03-22 09:00] christianlupus commented on #20
The most commits did @alibabashack. Maybe he knows if merging is possible somehow.

[2021-03-23 11:43] alibabashack commented on #20
Hi everyone, I will try to allocate some time next weekend. It will probably take me a while to set up all the cross compiler toolchain infrastructure again. I haven't done any Java projects for several years now (since JVM 1.6 I believe), so my motivation to work on RXTX dropped over time. But now I feel curious how things have evolved and I am happy at least some people still seem to be using RX

[2021-04-05 12:07] alibabashack commented on #20
I started investigating how the nrjavaserial fork handles this issue.

The first commit of their fix https://github.com/NeuronRobotics/nrjavaserial/pull/133/commits/992153d52d693c459ea8ebf3d7762ddcb59c34ba does not apply to our code base, because our return type of get_java_var_long() is still jlong. This type is defined in the JDKs jni_md.h. It seems they had changed it to long for some reason, w

[2021-04-05 12:47] alibabashack commented on #20
Based on the mentioned version string RXTX-2.2pre2, it seems @heywiki, @sudhirbitsgoa, @RaspCla are using an old binary distribution of rxtx. We never released any public binaries since the switch to the maven build system. That's unfortunate, because the main motivation for this switch to a transparent build process was the aim for a continuous delivery of binaries. I think, the best way to serve

[2021-04-05 16:27] alibabashack commented on #13
Hi everyone, hi @mizapf ,
I just migrated the build process from deprecated/removed javah to javac -h and merged some of the long standing pull requests. Could you please give it a try?

I am also motivated to finally get a binary delivery process running. Help is much appreciated. Anyone with knowledge of Github Actions CI?

The confusion of people coming to this repository is unfortunate but und

[2021-04-05 17:39] RaspCla commented on #20
I'm willing to help if I can support. But I don't have any experience with java and maven, yet. Is there anything I can do?
Availalbe systems are:
- Windows10
- Ubuntu 19.10 (virtual machine)
- Linux Mint (most current version) on an own machine

[2021-04-05 18:22] alibabashack commented on #16
Hi, I reviewed the patch by the debian maintainers. (Thank you @akayaman for the hint!) Instead of their workaround I propose to simply stop loading properties files from java extension dirs completely. I guess this is a feature nobody was using anyway. In JDKs > 9 this won't work anyhow. What do you think? Please take a look at the related pull request https://github.com/rxtx/rxtx/pull/23

[2021-04-05 18:32] alibabashack commented on #14
Hi @ML1 ,
we currently do not support building with Visual Studio. Our Windows build is a cross build on Linux. I know you asked this ages ago, but what is the build setup you are using? We could add support for Visual Studio in the maven build if you think it is useful. To make this happen I need installation instructions and build command lines including compiler names and build flags. Do you th

[2021-04-05 19:10] alibabashack opened #24 "Validate Build Instructions"
Our current build instructions can be found at http://rxtx.github.io/rxtx/ . It is very important these instructions are clear, easy to understand und up to date to everyone interested in working on rxtx. This is where even novices can shine, because they can identify missing parts. So if you want to help please pick a challenge below and report if there is anything you do not understand or that d

[2021-04-05 19:14] mizapf opened #25 "NullPointerException when java.ext.dirs undefined"
https://github.com/rxtx/rxtx/blob/55dbeba74a0254a031eaeb904b9ebe66eae74ccf/rxtxSerial-java/src/main/java/gnu/io/impl/serial/RXTXCommDriver.java#L315

Suggested fix:
        String sExtDir = System.getProperty("java.ext.dirs");
        final String[] extDirs = (sExtDir!=null)? sExtDir.split(":") : new String[0];

[2021-04-05 19:15] alibabashack opened #26 "Usage Example"
We still need a good example how to use rxtx. This could be in the form of
* an additional artifact,
* a quick tutorial,
* (any other ideas welcome)

Some code may be shared with the Smoke/Integration Test issue https://github.com/rxtx/rxtx/issues/27.

[2021-04-05 19:20] alibabashack opened #27 "Smoke/Integration Test"
We still need a simple test to evaluate the rxtx functionalities across different architectures. A simple loopback test comes to mind, which only requires a single port with the RX and TX signals shorted. There is already the currently empty rxtxSerial-test artifact for this purpose. The idea was to implement this in the form of a unit test using JUnit, but other ideas are welcome.

Some code may

[2021-04-05 19:22] mizapf commented on #13
Seems to build now, using openjdk 11.0.10.
mvn package creates several jars; would it be possible to create a single jar with all required native libs and Java classes? (Or one such JAR per operating system?)

[2021-04-05 19:31] alibabashack opened #28 "CI/CD Pipeline"
We still need a working Continuous Integration and Delivery Pipeline. I think this is not trivial, because rxtx is neither a pure Java nor a pure C project. Since we use maven to build Java and C parts and even perform cross platform builds to problematic platforms (hallo apple!), I am not sure if there exists an off-the-shelf solution.

Dear CI/CD heads, Github Actions hackers, Jenkins wizards, w

[2021-04-05 19:38] alibabashack commented on #25
Hi @mizapf ,
please take a look at my pull request https://github.com/rxtx/rxtx/pull/23 .
There I suggest to remove the whole feature instead of performing this workaround.

[2021-04-05 19:49] alibabashack commented on #13
@mizapf The idea is that rxtxSerial contains the service provider implementation and all binaries. rxtx-api is a separate artifact which provides the public API. This forces user to code against the API only, whereas the implementation is a runtime dependency only. All other artifacts are intermediate build products.

[2021-04-05 19:52] mizapf commented on #13
This means at runtime you have to include both API JAR and the serial JAR in the classpath, right?

[2021-04-05 19:58] alibabashack commented on #13
As of https://maven.apache.org/guides/introduction/introduction-to-dependency-mechanism.html the API would be in compile scope and the implementation in runtime scope. Both will be at the classpath at runtime, but only the API is in the compile time transitive classpath.

With rxtxSerial-test there is an example how to use it. Relevant POM section:
[code]

[2021-04-05 20:08] alibabashack commented on #20
@RaspCla Thanks a lot for volunteering. I have added some task issues with ideas. Considering your post I think you are the perfect candidate for https://github.com/rxtx/rxtx/issues/24. Maybe you can start to get familiar with the build process on Ubuntu. Then maybe make it work on Mint, too and eventually perform the cross build for windows and try it out on your Windows machine. That would be hu

[2021-04-05 20:15] alibabashack opened #29 "Technical update of gh-pages"
I believe I heard it is no longer state of the art to have a detached gh-pages branch within the same repository. Is this correct? If yes, we should move gh-pages to comply. Do you know about this? Any input welcome.

[2021-04-05 20:41] christianlupus commented on #28
Maybe I can help you here a bit. I will have a look tomorrow and set up a GH action to build the app. Mainly, #24 is required to be satisfied in order to have a clear idea of what needs to be done in CI/CD.

Also, the steps in the pipeline need to be specified. Should test suites be run automatically? Should there be a binary output of some sort?
In general, GH actions should make pretty much ever

[2021-04-05 21:00] alibabashack commented on #28
Wonderful! The build itself already works and is well defined from my perspective. https://github.com/rxtx/rxtx/issues/24 only targets the human readable state of the documentation. http://rxtx.github.io/rxtx/developers/build/instructions/release-build.html pretty much covers what needs to be done. We can build for all Linux and Windows machines from a single Ubuntu Linux. The only exception is th

[2021-04-06 08:58] RaspCla commented on #24
How can I assign myself to this task? (I'm just beginner level at github, also)

[2021-04-06 10:32] alibabashack commented on #24
Sorry, I think this is a permission problem and you actually can't assign yourself at this time.

[2021-04-06 10:37] alibabashack commented on #25
Should be fixed by https://github.com/rxtx/rxtx/pull/23.

[2021-04-06 10:37] #25 closed, assigned to nobody

[2021-04-06 10:40] alibabashack commented on #16
fixed by https://github.com/rxtx/rxtx/pull/23

[2021-04-06 10:40] #16 closed, assigned to nobody

[2021-04-06 14:33] tuxedo0801 commented on #13
Nice to see that this makes some progress.

Just for recerence as @alibabashack mentioned me... there was or is still the rxtx rebundled package around: https://gitlab.com/alexanderchristian/rxtx-rebundled

Did not use it for years, might still work.

Serial communicarion is heavily used for those wh use the Arduino IDE... I wonder what they use to do the RS232 communication...

[2021-04-06 18:51] RaspCla commented on #24
ok, I did all the installation stuff on my ubuntu vm.
I'm able to start the build with following command:
`mvn -Pwith-windows-x86_64,with-windows-x86,with-linux-x86_64 install`
and I get only success messages, so it seems the build environment is running.

Because I'm not able to write example code by myself I try to test the result with the project I want to use rxtxSerial, see:
https://sourcefor

[2021-04-06 21:27] alibabashack commented on #24
Nice, thank you for your time. This is good feedback already and tells me the documentation of the build is not too bad, but there is absolutely nothing that covers usage, yet. I think in order to not waste your time I will have to come up with a least some documentation in this direction first. This won't happen any time before Friday I am afraid.

Very motivating to see another project depending

[2021-04-08 18:19] RaspCla commented on #24
Yes, the documentation is really good.
I had to fight with PATH and environment variables, but google helps a lot (I'm more experienced with Windows than Linux).
The onliest thing you could add to the documentation ist, that the "mingw-w64" or similar package is needed for windows.
The comment: "various cross compilers" within the build instruction didn't help to understand what to install (I was

[2021-04-11 10:51] alibabashack commented on #24
Hey, since it might take some time for me to update the docs, here the short version. It might allow you to get your project running:
After building rxtx for the platforms you target, add
* rxtx-api/target/rxtx-api-2.2-stabilize-SNAPSHOT.jar (contains the java API only)
* rxtxSerial/target/rxtxSerial-2.2-stabilize-SNAPSHOT.jar (contains the Java serial driver implementation and its native librarie

[2021-04-11 11:07] alibabashack commented on #1
FYI: I removed the feature/readme branch from this org repository in order to work on my own repository: https://github.com/alibabashack/rxtx/tree/feature/readme Since the org repository shall only be used for merging.

[2021-04-11 16:13] RaspCla commented on #24
Hi,
I tried everything you stated above, but without success.
I always see following error message, independendly where I add the "DriverManger.." line.
What I did is just open the Tools->option menu which is asking to select the serial port.
Error message:
`Exception in thread "AWT-EventQueue-0" java.lang.IllegalArgumentException: setSelectedIndex: 0 out of bounds
	at java.desktop/javax.swing.JCo

[2021-04-11 16:24] alibabashack commented on #24
Hmm. As far as I can tell, the above Exception has nothing to do with rxtx. Seems to be some gui issue.

Yes, the new jar files only contain the serial port implementation. The old rxtx distribution had a lot of other experimental port types (parallel, I2C, etc.) in the making. But prm80 only uses the serial port, so that should be fine for you.

[2021-04-11 16:35] RaspCla commented on #24
I did one more test and added the "DriverManger..." line  also to the Option dialog.
I got a new erro message and now I feel the error is that the driver loader does not know my Windows10 operating system and so the dll is not loaded.
Here the new error message:
`Apr. 11, 2021 6:31:12 PM gnu.io.LibraryLoader determineOsClass
INFO: The os.name value Windows 10 is unknown. Please file a bug.
Apr. 11

[2021-04-11 16:44] alibabashack opened #30 "Add Windows 10 support for library loader"
Apr. 11, 2021 6:31:12 PM gnu.io.LibraryLoader determineOsClass INFO: The os.name value Windows 10 is unknown. Please file a bug. Apr. 11, 2021 6:31:12 PM gnu.io.LibraryLoader load SEVERE: Unknown operating system! Can't resolve library name Exception in thread "AWT-EventQueue-0"

[2021-04-11 16:45] alibabashack commented on #24
aww, thank you. I opened issue #30

[2021-04-11 17:41] alibabashack commented on #28
Hi @christianlupus ,
fyi: I started an effort to build using github actions on my private development branch https://github.com/alibabashack/rxtx/tree/development It builds now for all supported platforms. Due to some maven issue the resulting rxtxSerial.jar does not include some native libs. As soon as I have this fixed, I will cleanup and create a merge request.

Feedback welcome!

[2021-04-12 06:04] christianlupus commented on #28
@alibabashack Sorry, I was busy the whole week with my day job. But you seem to have successfully implemented a CI using GH actions. Looks good to me.
I personally would have merged the `apt` calls but this is only a personal preference. So do not worry about it.

Another option that might be a good idea would be to extract the main tasks from the work files into their own actions. That would allo

[2021-04-13 14:45] RaspCla commented on #24
Tests with new patch for #30 run ok, I'm able to
- open the serial port
- send and and receive data
I still have issues with my project, seems they are not related to rxtx

I added the new libs to my project, you can find the current implementation
[at Github](https://github.com/RaspCla/prm80-control-software/tree/main/control_software/)

[2021-04-16 20:33] alibabashack commented on #28
You are right about the `apt` calls, I had the same thing in mind. It would be faster to have a single run and apt would make clear what's missing in case of an error.

I don't understand your idea about multiple actions. Could you give an example when this is an advantage, please? Why would I want builds with different java versions? Or are you referring to the rxtx lib version?

To be honest, I

[2021-04-16 21:20] alibabashack commented on #30
fix merged in #31

[2021-04-16 21:20] #30 closed, assigned to nobody

[2021-04-17 07:01] christianlupus commented on #28
No, I was referring to the java version. I am unsure if there is a benefit to have different versions. In other libraries (with other programming languages) it might be required to simplify the testing and the like.

Honestly, I am no too much into Java anymore. I learned Java as my first language and I am still confident but never went to the point where depency management came into play. I know

[2021-04-17 13:06] alibabashack commented on #2
will be fixed by #32

[2021-04-17 13:23] alibabashack commented on #28
As far as I understand, the JVM bytecode should be stable or newer machines would be at least backward compatible to some extend. So the only issue, where the Java version might matter in the future, is API or language feature deprecation. So I don't see a reason here to make CI/CD work with multiple JDKs at this time. For now it is a huge improvement to have a build running and being able to dist

[2021-04-17 13:48] alibabashack commented on #13
Thank you @tuxedo0801 for reminding, but I hope with the upcomming CI/CD workflow we can finally switch to up to date binaries. CI/CD is already working and currently available for review in pull request #32. Feedback welcome!

This means we have new up to date binaries built via github actions which should run on the following platforms:
* linux: x86, x86_64
* windows: x86, x86_64
* osx: x86_64

[2021-05-01 19:09] mizapf opened #33 "Could not find artifact gnu.io.rxtx:..."
I have a weird issue when building. On my normal machine, mvn compile runs cleanly. On another machine that I recently set up, mvn compile exits with the following output:

[ERROR] Failed to execute goal on project librxtxSerial-linux-x86_64: Could not resolve dependencies for project gnu.io.rxtx:librxtxSerial-linux-x86_64:so:2.2-stabilize-SNAPSHOT: Could not find artifact gnu.io.rxtx:rxtxSerial-n

[2021-05-04 17:00] mizapf commented on #33
OK, I found the difference but I don't know how to fix it.

The folder ~/.m2/repository/gnu is missing on my other machine. When I remove it on my primary machine, building RXTX also fails there. Did I forget to set up something?

Edit: After copying the gnu folder to my second machine, I can run mvn compile there. But it is not created automatically.

[2021-05-15 06:33] alibabashack commented on #33
Could you please try again with "mvn install" instead?

Now, after merging #32 you will be provided with a -- hopefully useful -- error message which guides you to the selection of an appropriate binary platform:

e.g. mvn -Pwith-linux-x86_64 install

[2021-05-15 06:35] alibabashack commented on #28
merged #32

[2021-05-15 06:35] #28 closed, assigned to nobody

[2021-05-15 06:36] alibabashack commented on #2
merged #32

[2021-05-15 06:36] #2 closed, assigned to alibabashack

[2021-05-15 06:37] alibabashack commented on #14
I think this was fixed in #32 . Please reopen if the problem persists.

[2021-05-15 06:37] #14 closed, assigned to nobody

[2021-05-16 12:54] mizapf commented on #33
Yes, if you do it once with "mvn install", further invocations of "mvn compile" seem to work. Is that an intended behavior?

I used the compile operation because I am usually cautious about doing installs before I know what is happening. If I make something, I normally run "make -n install" to see where the program will be moved to before I actually let it install.

[2021-05-16 22:16] alibabashack commented on #33
Well, yes and no. Currently it is the intended behavior, because this was the only way I could make it work. Since we cannot build all native binaries on the same host (at least OSX needs to be build separately), I had to introduce a two step build process. This allows to install native binaries build on other hosts before assembling the final rxtxSerial.jar containing all available binaries. So t

[2021-05-18 15:26] EliasIEE commented on #13
Hi @alibabashack I am very happy to see that rxtx is not dead after all. We were still using a very old version, but since there were no binaries available for Centos 8, we started to switch to another library (which was not very successful so far). Is there already a binary for linux X86_64 that we can test?

[2021-05-18 16:56] EliasIEE commented on #13
We were now able to create the binary ourselves using the instructions with maven, which worked fine so far. Next step is to test if the communication works...

[2021-05-18 20:20] alibabashack commented on #13
Hi @EliasIEE, yes, there is a github action CI, now. Its build includes the binaries for linux (x86, x86_64), windows (x86, x86_64), osx:
https://github.com/rxtx/rxtx/actions/runs/844341221

The artifact _rxtx-distribution_ includes both relevant jars. For details see https://github.com/rxtx/rxtx/issues/24#issuecomment-817287239

[2021-05-18 20:28] EliasIEE commented on #13
That's great thanks a lot!

[2021-05-18 20:39] mizapf commented on #33
As long as this is documented, and it is reproducible, this is something we can well live with.

[2021-05-19 13:51] EliasIEE commented on #24
Hi @alibabashack , is it necessary to import any package for this statement? The line (DriverManager.getInstance().loadDrivers();) is not accepted like this. Sorry I don't know much about Java, just trying to get an existing program to work with the new library version. Without the line the program compiles successfully, but it cannot open the serial port.

[2021-05-19 14:29] EliasIEE commented on #24
Since I do not get any further with the DriverManager, I copied the library into the Java directory:
`/usr/lib/jvm/jre/lib/amd64/librxtxSerial-linux-x86_64.so`

and set a symbolic link: `ln -s /usr/lib/jvm/jre/lib/amd64/librxtxSerial-linux-x86_64.so /usr/lib/jvm/jre/lib/amd64/librxtxSerial.so`

While trying to open the port I now get the following messages:

[code]

Do you have any idea how to sol

[2021-05-19 14:59] alibabashack commented on #24
@EliasIEE Yes, you will need to `import gnu.io.DriverManager;` Please also make sure you have added both rxtx jars to your classpath.

[2021-05-19 15:01] EliasIEE commented on #24
Thanks a lot, that seems to work without problems!

[2021-06-23 07:41] huthomas opened #34 "Problem if sender has RTS/CTS enabled on win64"
If the sender device has RTS/CTS enabled, no data is received on win64.

The data can be received with the same code on linux 64bit, or on win32 with the rxtx lib version 2.1.7.

[2021-07-01 14:30] tuxedo0801 opened #35 "Build fails, missing jni.h ..."
@alibabashack
tried to compile it on my Debian machine with openJDK11 ... I used latest version from development branch.

Does not work:

[code]

Thought its caused by missing JAVA_HOME, so I ensured JAVA_HOME is available:

[code]

I also ensured that $JAVA_HOME/include contains the jni.h:

[code]

No idea why its not working.

Any ideas so far? What are the prerequisites to build it from scratch

[2021-07-08 13:59] tuxedo0801 commented on #35
Tried to analyze this issue by myself....

1st: The maven native plugin is from 2018, 3yrs old... and it claims:

https://www.mojohaus.org/maven-native/native-maven-plugin/

Quite outdated... now we have maven3 :-(

I tried to update the plugin from 1.0-alpha-7 to 1.0-alpha-11, this this did not solve the issue.

Looks like something prevents the variable ${env.JAVA_HOME} from being evaluated corr

[2021-07-08 14:15] tuxedo0801 commented on #35
I'm a bit further...

I had set the JAVA_HOME just before invoking maven with this:

[code]

But I actually need

[code]
Both will set the variable, but only the latter one makes it visible to Maven.

Now maven picks up the env.JAVA_HOME variable correctly.

But build still fails:

It searches for windows dll's as well, but I tried to build for linux_x64 only ... Further investigation needed.

[2021-07-08 14:25] tuxedo0801 commented on #35
Okay, problem solved for now.

As soon as I add "-Dmake.release=..." to the maven command line, it wants to build a complete release for all platforms available.

If I just want to make it for linux_x64 only, it's sufficient to execute:

[code]

[2021-07-08 14:25] #35 closed, assigned to nobody

[2021-07-13 21:04] Johnlon commented on #26
Yes please.  Quite a blocker and unusual for a product not to have working example code and/or functional tests (eg using a loop back driver or something)

[2021-07-26 14:31] RaphaelWimmer commented on #35
Thank you, this (exporting JAVA_HOME) helped me, too.

(I also had to install/upgrade two Debian packages `libguava-java` and `libguice-java`.)

I can also confirm that `mvn -Dmake.release=prepare install` fails if not all cross-compilation toolchains are installed.

[2021-07-27 17:04] RaphaelWimmer opened #36 "Call to CommPortIdentifier.getPortIdentifiers() returns immediately without any ports if native library is not explicitly loaded"
When calling `CommPortIdentifier.getPortIdentifiers()` from a simple example application, it immediately returns because `CommPortIndex` is `null` - even if there are accessible serial ports. Using `librxtx-java` from Debian instead works flawlessly.

It seems that the Java code never even accesses the native library (strace does not show any access, and no error is shown even if the library is mi

[2021-07-28 14:19] ZRunner opened #37 "NullPointerException still not fixed with version 2.2.2 (from Maven)"
Hi world

I recently tried to install and use the RXTX lib in my Java project. I found at first the [Maven control page](https://search.maven.org/artifact/dev.prokop.rxtx/rxtx/2.2.2/jar) and used it to install the lib in my pom.xml as follow:
[code]
and then created a simple class with a main() method calling `java.util.Enumeration<CommPortIdentifier> portEnum = CommPortIdentifier.getPortIdentifie

[2021-07-28 15:55] ZRunner commented on #37
Edit: after some hours of trying things, I finally found how to install the new version of the lib.
I couldn't figure out how to do it with the global maven repo, but at least I was able to download both libs from [the github action](https://github.com/rxtx/rxtx/actions/runs/844341221), install from `mvn install:install-file` to my local repo, and use them from here. No more red message, no more N

[2021-07-28 15:55] #37 closed, assigned to nobody

[2021-07-29 07:42] ZRunner commented on #36
I can repro with OpenJDK 14 on Ubuntu. From what I can tell it should even occur on any platform really.

Do you have an explicit tuto about installing and using `librtx-java`? I couldn't find any good one :/

[2021-07-29 09:22] RaphaelWimmer commented on #36
Oh, I found the solution hidden in https://github.com/rxtx/rxtx/issues/24#issuecomment-817287239

DriverManager.getInstance().loadDrivers();

Now it works.

@alibabashack : having to manually call `loadDrivers()` means that the new rxtx can not be used as a a drop-in replacement with legacy code (in my current case, rxtx is wrapped by another closed-source library). Would it be possible to check a

[2021-07-30 04:28] Karthik181007 opened #38 "Fatal error"
[code]

[2021-08-06 16:25] RaphaelWimmer commented on #38
You are most probably using the old rxtx library (~2008).
Unfortunately, there is no new release yet.
However, you can build the new release from source.
There is no other solution for fixing this issue that I am aware of.

[2021-08-06 19:58] alibabashack commented on #36
Hi @RaphaelWimmer ,
this is the intended "new" way, correct. Sorry you had to figure it out yourself. Now, that you made it work, please help documenting this usage. Feel free to take a look at https://github.com/rxtx/rxtx/issues/26 and simply write down simple instructions and provide them via a pull request. Other people will thank you! If nobody starts, things will stay hard. I cannot allocate

[2021-08-06 20:01] alibabashack commented on #34
Hi @huthomas ,
in order to investigate this issue a minimum example - or even better, a test case within the test package would be very helpful. Please also give a hint which hardware you are using.
Please make sure you are using a current rxtx version build from this source. Simply download the rxtx-distribution from https://github.com/rxtx/rxtx/actions/runs/844341221. Also take a look at https:/

[2021-08-06 20:11] alibabashack commented on #38
Thank you @RaphaelWimmer  for helping out. @Karthik181007 please download the binaries "rxtx-distribution" from guthub actions CI:
https://github.com/rxtx/rxtx/actions/runs/844341221
You will need to add both contained jars to your project and initialize the library as described by @RaphaelWimmer  in https://github.com/rxtx/rxtx/issues/36

[2021-08-06 20:17] alibabashack commented on #20
Hi @heywiki ,
could you please try again with the latest binaries from our "rxtx-distribution" github action CI: https://github.com/rxtx/rxtx/actions/runs/844341221

[2021-08-06 22:02] RaphaelWimmer commented on #26
Here's a minimal example that should work even if there are no serial ports on the machine:

[code]

Compile with `javac -cp <path to rxtx-api jar> ListPortsExample.java` , e.g., `javac -cp lib/rxtx-api-2.2-stabilize-SNAPSHOT.jar ListPortsExample.java`

Run with `java -cp <path to rxtx-api jar>:<path to rxtxSerial jar>:. ListPortsExample`, e.g., `java -cp lib/rxtx-api-2.2-stabilize-SNAPSHOT.jar:li

[2021-08-06 22:03] RaphaelWimmer commented on #36
minimal example (list available ports) here: https://github.com/rxtx/rxtx/issues/26#issuecomment-894540555

[2021-08-06 22:11] RaphaelWimmer commented on #36
Thank you for the explanation (and reviving rxtx!)

What is the advantage of doing this? I cannot think of a common use case where you would want to only load the native driver at a later point in time.

[2021-08-07 01:56] Karthik181007 commented on #38
Actually, I downloaded lower version of java jdk 1.8 and it solved all this unnecessary errors.

[2021-08-07 01:57] Karthik181007 commented on #38
Actually,I downloaded the lower version of java jdk 1.8 and it solved all the unnecessary errors .

[2021-08-07 01:57] #38 closed, assigned to nobody

[2021-08-20 08:45] huthomas commented on #34
Hi @alibabashack ,
thx for the reply. The problem occurred with laboratory devices for Elexis (https://github.com/elexis) users. We could reproduce it with a small Win terminal app (I only got an executable no link to the source) that allows simulating RTS/CTS.
As this was critical for the users we switched to a different serial lib, sry.

[2021-09-15 21:35] PrasadReddy75 commented on #20
A fatal error has been detected by the Java Runtime Environment: # SIGSEGV (0xb) at pc=0x00000000000039fe

We have a debian package called thirdparty and while de packaging this debian, intermittently, the server is crashing. We are using java 8.

Following is the Problematic frame
C 0x00000000000039fe
And complete error dump is here
[hs_err_pid1553.log](https://github.com/rxtx/rxtx/files/7173393/

[2021-09-16 05:17] alibabashack commented on #20
Hi Prasad,
could you please try again with our binaries as suggested in my previous post?

Please note that there was a small change in the API which requires one more call during application startup in order to load the native libs. See https://github.com/rxtx/rxtx/issues/24#issuecomment-817287239

[2021-09-16 05:40] PrasadReddy75 commented on #20
Thank you very much for the response. Can you please guide from where I can download the latest libs?
    rxtx-api/target/rxtx-api-2.2-stabilize-SNAPSHOT.jar (contains the java API only)
    rxtxSerial/target/rxtxSerial-2.2-stabilize-SNAPSHOT.jar (contains the Java serial driver implementation and its native libraries)
    to the projects netbeans project.

Thanks,
Prasad

[2021-09-16 05:51] alibabashack commented on #20
I just realized the github action results expire and theses binaries are no longer available for download here. :( If you can find out a way how to trigger a github action again without new commits I would rerun it. Atm I don't know how to do that and I have no time till Monday for Investition, sorry.

[2021-09-16 06:06] PrasadReddy75 commented on #20
Thanks for the update. Let me check with @RaspCla, in case if he has a copy those libs, if not, please respond to me by Monday with active links to download.

Dear @RaspCla,

Right now it appears the links to download rxtx-api-2.2-stabilize-SNAPSHOT.jar and rxtxSerial-2.2-stabilize-SNAPSHOT.jar have been expired. If you have a copy of them, can you please share here, so that I can download.

Thank

[2021-09-16 06:29] RaspCla commented on #20
Edit:
@PrasadReddy75:
I only own the versions from April 12th, 2021.
Here the link to [my github repository](https://github.com/RaspCla/prm80-control-software/tree/main/control_software/trunk/lib) where you can find
_rxtx-api-2.2-stabilize-SNAPSHOT.jar and _rxtxSerial-2.2-stabilize-SNAPSHOT.jar_

Claus

[2021-09-16 06:48] PrasadReddy75 commented on #20
Great, and I believe it should work! Thank you, Claus. Much appreciated.
I'll correct my classpath with these updated bins/libs and post my update soon.
Thanks again.

[2021-09-16 18:55] PrasadReddy75 commented on #20
I deleted the old rxtx binaries and downloaded rxtx-api-2.2-stabilize-SNAPSHOT.jar and rxtxSerial-2.2-stabilize-SNAPSHOT.jar and kept in the class path.
Some of my srs files complaining '**The type RXTXPort is not visible**'
I see this RXTXPort class under rxtxSerial-2.2-stabilize-SNAPSHOT\gnu\io\impl\serial\RXRPort.class, but unable to import in my eclipse.
Can you please advise if I'm missing an

[2021-12-17 11:41] guardiola98 opened #39 "NoFileAssignedException"
When i execute mvn -Pwith-windows-x86_64 install, i get this error:
[INFO] Scanning for projects...
[ERROR] [ERROR] Some problems were encountered while processing the POMs:
[ERROR] Unknown packaging: dll @ line 6, column 17
 @
[ERROR] The build could not read 1 project -> [Help 1]
[ERROR]
[ERROR]   The project gnu.io.rxtx:rxtxSerial-windows-x86_64:2.2-stabilize-SNAPSHOT (C:\Users\jguardiolag\rxtx

[2021-12-17 15:47] migry commented on #26
I was looking for a simple example to show a crash caused by rxtxSerial.dll, so tried the above code. I got the following. Note: downloaded the jar and dll 64 bit from the fizzed repository (which appears to be no longer supported).

[code]

[2021-12-17 16:07] migry commented on #20
Apologies, but I am very confused. I cannot find any source code or DLLs for Windows in this repository.

I am trying to compile some old Java code which uses the serial port via a FDTI USB converter. I know very little about Java, so I have spent quite a few hours trying to get the old Java code to compile (there were no instructions). Now I can finally run the GUI as soon as the program uses the

[2021-12-17 21:19] RaspCla commented on #20
@migry
the source code you can find here:
[https://github.com/rxtx/rxtx](https://github.com/rxtx/rxtx)

The build instructions are here:
[http://rxtx.github.io/rxtx/developers/build/intro/overview.html](http://rxtx.github.io/rxtx/developers/build/intro/overview.html)

My communication with alibabashack (while I was performing the build) you will find here:
[https://github.com/rxtx/rxtx/issues/24](

[2021-12-17 21:35] RaspCla commented on #20
@PrasadReddy75
I'm very sorry but I didn't get a message after your reply to my post from september
Nevertheless I'm neither an JAVA nor eclipse expert and my knowledge about the RXTX api is very limited.
Maybe @alibabashack can support

[2021-12-20 01:35] migry commented on #20
@RaspCla thank you for the information.
WWhat is strange is that the repository appears to be almost empty. There is some java stuff, but many folders just have a "pom.xml" file, whatever that is.
The link (above) to the DLL is not working for me.

For the time being I've had to use my old PC. I will try to install the same versions of software (Java, DLL's, etc) on the new machine.
Unfortunately

[2021-12-20 11:42] guardiola98 commented on #39
Update:
I was doing the build on windows. I didn't know that the build does't work on windows. Now i have tested to make cross build on an ubuntu machine. I have done this steps:
sudo apt install default-jdk
sudo apt-get install build-essential
sudo apt-get install maven
sudo apt-get install gcc-mingw664-x86-64
git clone https://github.com/rxtx/rxtx.git -b development /path
cd path
mvn -Pwith-wind

[2021-12-20 15:33] RaspCla commented on #20
Hello,
sorry, i found out that I provided not working links, I corrected the links above.
Yes, you are correct, there are only some java stuff and only some xml files. But these was the repository I translated as explained by alibabashack. He was the one who fixed the bug with crashing DLLs,

Within my project I just had to include both Lib files and the crash was gone. I didn't had to copy the dl

[2021-12-20 17:10] alibabashack commented on #20
Hi everyone, @RaspCla @migry
I am sorry this project is somehow still a mess, but I've been trying to make things better this weekend and worked on the github actions release mechanism. There is still a small problem with versioning, so I have not created a pull request yet. Until there is an official release, you may use the following snapshot release for your experiments:
[experimental snapshot

[2021-12-20 17:13] alibabashack commented on #26
Please try again with these the jars from https://github.com/alibabashack/rxtx/releases/tag/v2.2.1 they contain the loader you are using.

[2021-12-20 17:21] alibabashack commented on #36
Hi @RaphaelWimmer ,
sorry for the very long delay and thank you for providing the minimal example. I will try it incorporate it into documentation in the next days.

Think about larger applications like a huge IDE or similar. I had the Netbeans Rich Client Platform in mind for example. If every lib would argue this way and load all its resources at startup, it would be a very slow experience. Libs

[2021-12-20 17:23] alibabashack commented on #36
I am still thinking about providing a drop-in replacement backport for older applications, so I leave this ticket open.

[2021-12-20 17:29] alibabashack commented on #39
Hi @guardiola98 ,
sadly it is rather difficult to project our use case onto the mave build system. I had to make changes to the build workflow again and the documentation is no longer up to date. Please take a look at the [github action workflow](https://github.com/rxtx/rxtx/blob/development/.github/workflows/rxtx-distribution.yml) for working build instructions or use the libs from https://github

[2021-12-22 06:56] AloisHofstaetter commented on #20
Hi everyone!

I **was** having the same problem as described above.
With Linux it worked very well.
In Windows 10 it was not working at all.
Playing around with different JDKs/JREs did not help at all.

This

and

did the trick.
It works perfect for me.
(Linux 5.10.0-9-amd64 and Windows 10 64 within Virtualbox)

Thank you very much!
Best regards, Alois

[2021-12-24 10:46] guardiola98 commented on #39
Hi, @alibabashack ,
First of all thank you for answer so quick. Having the two options that you gave to me, i have choosen using the libs from https://github.com/alibabashack/rxtx/releases/tag/v2.2.1 and it has worked perfectly for me. Thank you so much. I'm closing this issue.

[2021-12-24 10:46] #39 closed, assigned to nobody

[2021-12-26 18:42] alibabashack opened #40 "Implement Github Actions release workflow"
I am currently implementing a release workflow for rxtx. In order to efficiently derive the required semantic version for maven packaging from git tags,  I want to use [jgitver-maven-plugin](https://github.com/jgitver/jgitver-maven-plugin).

Since jgitver analyzes the whole git history (especially git tags), a working configuration cannot be demonstrated on a single feature branch. Hence I experim

[2022-01-02 15:14] alibabashack commented on #40
The above issue could be solved (see mentioned upstream ticket). Still another maven plugin is used for version calculation, now: [maven-git-versioning-extension](https://github.com/qoomon/maven-git-versioning-extension)

See PR https://github.com/rxtx/rxtx/pull/41

[2022-01-02 15:14] #40 closed, assigned to alibabashack

[2022-01-11 14:32] mecrowe commented on #26
@alibabashack The release link above is invalid.   It looks like there are no releases in your repo.

https://github.com/alibabashack/rxtx/releases

[2022-03-03 20:28] fdeitelhoff opened #42 "LibraryLoader: add support for Windows 11"
I am working on a Java project with rxtx enabled to communicate to a device via the COM port.

On Windows 10 everything is working fine. On Windows 11 I get the following error:

März 03, 2022 3:09:23 PM gnu.io.LibraryLoader determineOsClass
INFORMATION: The os.name value Windows 11 is unknown. Please file a bug.
März 03, 2022 3:09:23 PM gnu.io.LibraryLoader load

This is understandable, because W

[2022-03-24 09:10] fdeitelhoff opened #44 "Fresh List of Com Ports with CommPortIdentifier.getPortIdentifiers()"
I am using a call to ```CommPortIdentifier.getPortIdentifiers()``` to get a list of com ports while my application starts.

When the application is running I connect or disconnect hardware so that there is one new com port available or gets removed. If I can the ```getPortIdentifiers``` method, these changes are not reflected in the enumeration. It looks like a cached version of the com port list.

[2022-09-06 18:46] VWrestle97 commented on #42
Hi fdeitelhoff,

I am working on a Java project with rxtx enabled to communicate to a device via the COM port.

For me, on Windows 8 everything is working fine. However, on Windows 10 I get the following error:

'.\SerialConnection.java:  error:  package [gnu.io](http://gnu.io/) does not exist'

Can you please provide me with your working rxtxSerial.dll file that works for Windows 10 64-bit and jd

[2022-10-27 14:31] davutg commented on #20
@AloisHofstaetter  The link provided for experimental snapshots is broken. I'm trying to make it work for Microsoft JDK 17. Created headers manually by javac -h  https://github.com/microsoft/openjdk/issues/330#issuecomment-1293412144 but still couldn't manage it work. Don't know exactly what are the requirements to build this project manually apart from mingw64 builder. I went thru bash script it

[2022-10-30 16:09] davutg commented on #20
This branch works with MS JDK 17 as well https://github.com/NeuronRobotics/nrjavaserial/